# Objects of built-in types like (int, float, bool, str, tuple, Unicode) are immutable.
Objects of built-in types like (list, set, dict) are mutable. A list is a mutable as we can
insert/delete/reassign values in a list.

# list can hold any type of datatype inside it and it is mutable
li=[1,2,3,4]
print(li)

In [3]:
l2=[1,2,3,"anuj",3.3]
l2

[1, 2, 3, 'anuj', 3.3]

In [2]:
type(li)

list

In [4]:
l2[4]

3.3

In [5]:
l2[3]="chandan"

In [6]:
l2

[1, 2, 3, 'chandan', 3.3]

In [7]:
## append ka use hm at last of list kisi ko insert krne k liye use krte hai
l2.append(34)
l2

[1, 2, 3, 'chandan', 3.3, 34]

In [13]:
##insert ka use hm kisi position pr insert krne k liye use krte hai
l2.insert(2,12)
l2
l2.insert(8,"anuj")##ise frk nhi pdta ki index out of range hai ye at last hi store kr leta hai
l2

[1, 2, 12, 12, 12, 3, 'chandan', 3.3, 'anuj', 34, 'anuj']

# slicing

In [11]:
l2[1:4]

[2, 12, 3]

In [14]:
## append a list inside a list it creates data as list 
l2.append([9,10,11])
l2

[1, 2, 12, 12, 12, 3, 'chandan', 3.3, 'anuj', 34, 'anuj', [9, 10, 11]]

In [22]:
## if include multiple data without a creating list as a object

In [27]:
l3=[1,2,3,4,5,5,7]
l3.extend([8,9,10])
l3

[1, 2, 3, 4, 5, 5, 7, 8, 9, 10]

In [30]:
## remove and pop
l3.remove(5)
l3

[1, 2, 3, 4, 7, 8, 9, 10]

In [31]:
l3.pop()

10

In [32]:
l3

[1, 2, 3, 4, 7, 8, 9]

In [33]:
l3.pop(3)

4

## negative indexing

In [1]:
li=[1,2,3,4,5,6]
li

[1, 2, 3, 4, 5, 6]

In [2]:
li[-1]

6

In [3]:
li[-4]

3

## sequencing in list

In [4]:
l2=[1,2,3,4,5,67]

In [5]:
l2

[1, 2, 3, 4, 5, 67]

In [6]:
l2[1:4:1]

[2, 3, 4]

In [7]:
l2[1:]

[2, 3, 4, 5, 67]

In [8]:
l2[:5]

[1, 2, 3, 4, 5]

## line separeted input

In [10]:
## by default agr hm koi input lete hai to wo as a string hi jata hai kyuki hme pta hai python line by line read krta hai
n=input()## as a strinhg hai
n

2

'2'

In [11]:
n=int(input())##ye as a integer input hai
n

4

4

In [12]:
li=[]
for i in range(n):
    curr=int(input())
    li.append(curr)

1
2
3
4

In [13]:
li

[1, 2, 3, 4]

## space separeted input

In [15]:
str = input()
l1=str.split()
l2=[]
for x in l1:
    l2.append(int(x))
l2

1 2 3 4 4 5

[1, 2, 3, 4, 4, 5]

In [16]:
## short cut

In [18]:

l1=[int(x) for x in input().split()]
l1

1 2 3 4 5

[1, 2, 3, 4, 5]

In [1]:
l1=[1,4,5,64,71,23]
max(l1)

71

In [2]:
#some important methods used in list
## append-adding elements at the end of list
## extend-adding another list at the end of list
## max-maximum element in the list
## min-minimum element in the list
##these methods me are seeing above
##no we are moving some more methods

In [4]:
list1=[1,2,3,4,56]
sum1=sum(list1)
sum1
##it is used to calculate the sum of list

66

In [5]:
##count-return the total no of times a given element occur
list2=[1,2,3,3,3,4,5,6,6,6,7,7]
c=list2.count(6)
c

3

In [6]:
##index-returns the index of first occurence of element if element is not present returns -1
list3=[1,2,3,4,4,5,6]
ind=list3.index(4)
ind

3

In [7]:
##del-element to be deleted with list name and index
list4=[1,3,4,5,6]
del list4[3]
list4

[1, 3, 4, 6]

In [8]:
## remove-element to be deleted using list name and element
list5=[1,4,6,7,8,9]
list5.remove(6)
list5

[1, 4, 7, 8, 9]

# 2D LIST

In [1]:
#2D list is called as list of lists
li1=[[1,2,3],[4,5,6],[7,8,9]]
li1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
li1[1][1]## accessing the element of the list

5

In [3]:
##inert a list in any index
li1.insert(2,[7,2,4]);
li1

[[1, 2, 3], [4, 5, 6], [7, 2, 4], [7, 8, 9]]

In [4]:
##(.join()) it is string method returns a string by joinning all the elements of a iterable sequence
##seperated by a string operator
"-".join("abcd")

'a-b-c-d'

In [5]:
"-".join(['a','b','c','d'])

'a-b-c-d'

In [6]:
##how to print line seperate by using join
for row in li1:
    output=" ".join([str(col) for col in row])
    print(output)

1 2 3
4 5 6
7 2 4
7 8 9